*.eps
*.go
*.log
*.pdf
*.png
*.tar.xz
*.tmp
*.info
*~
,*
/ABOUT-NLS
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
/config.status
/configure
/doc/*.1
/doc/.dirstamp
/doc/conf.aux
/doc/conf.cp
/doc/conf.cps
/doc/conf.fn
/doc/conf.fns
/doc/conf.info
/doc/conf.info-[0-9]
/doc/conf.ky
/doc/conf.pg
/doc/conf.toc
/doc/conf.tp
/doc/conf.vr
/doc/conf.vrs
/doc/stamp-vti
/doc/version.texi
/conf/spec.scm
/m4/*
/m4/ChangeLog
/m4/gettext.m4
/m4/iconv.m4
/m4/lib-ld.m4
/m4/lib-link.m4
/m4/lib-prefix.m4
/m4/nls.m4
/m4/po.m4
/m4/progtest.m4
/po/*.gmo
/po/*.insert-header
/po/*.mo
/po/ChangeLog
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.*
/po/en@quot.*
/po/guile-config.pot
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/pre-inst-env
/test-env
/test-tmp
/tests/*.trs
GPATH
GRTAGS
GTAGS
Makefile
Makefile.in
config.cache
stamp-h[0-9]
tmp
